<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Notifications
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="notifications"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding id="page5">

  <ion-list text-wrap="">

    <ion-item *ngIf="allNotificationTasks.length == 0">
      Empty
    </ion-item>

    <ion-item-sliding *ngFor="let task of allNotificationTasks">
      <ion-item>
        <ion-icon name="{{task.iconName}}" color="{{task.iconColor}}" item-left></ion-icon>
        <ion-label color="{{task.labelColor}}">{{task.name}} - {{task.formattedDeadline}}</ion-label>
      </ion-item>


      <ion-item-options side="right">
        <button ion-button (click)="showTask(task.id)">
          <ion-icon name="eye"></ion-icon>
          View
        </button>
      </ion-item-options>

    </ion-item-sliding>

  </ion-list>

</ion-content>